//color
$white: #ffffff;
$black: #000000;
$black-2: #111111;

//background-color
$bg-white: #ffffff;
$bg-black: #000000;
$bg-black-2: #111111;

//box-shadow
$shadow-1: 5px 5px 15px 5px #000000;
$shadow-2: 5px 5px 20px 5px #000000;

//border-radius
$radius-1: 20px;
$radius-2: 25px;